.container {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rollingDice {
  color: rgb(111, 101, 207);
  font-size: 10em;
  border-radius: 15px;
  margin: 100px 50px 70px;
  position: relative;
}

.btn {
  background-color: rgb(12, 11, 11);
  color: white;
  padding: 14px 55px;
  border-radius: 8px;
  cursor: pointer;
  font-size: small;
}

h2 span {
  color: rgb(111, 101, 207);
}
